.git
.github
.gitignore
.gitattributes
.env
.env.*
*.md
Dockerfile
.dockerignore
/database/database.sqlite
/node_modules
/public/build
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/tests